extends ../layout

block content
  h2= book.title
  p= book.author

  button(class="btn") 
    a(href="/books/"+ book.id +"/edit")  EDIT BOOOK
  button(class="btn")  
    a(href="/books/"+ book.id +"/delete")  DELETE BOOOK
  button(class="btn")  
    a(href="/") BACK TO BOOKS LIST