extends ../layout

block content
    include errors 
    
    form(action="/books/" +book.id +"/edit", method="post") 
        include form
        p 
            a(href="/") Cancel 
        p 
            a(href="/books/"+ book.id +"/delete") Delete Book
        

    