extends ../layout

block content
    div(class="updateForm")
        include errors 
        
        form(action="/books/" +book.id +"/edit", method="post") 
            include form
      
        

    